blinker                    
click                      
contourpy                  
cycler                     
Flask                      
Flask-Cors                 
fonttools                  
itsdangerous               
Jinja2                     
kiwisolver                 
MarkupSafe                 
matplotlib                 
numpy                      
opencv-python              
opencv-python-headless     
packaging                  
pandas                     
pillow                     
pyparsing                  
pytesseract                
python-dateutil          
pytz                       
setuptools                 
six                        
tesseract                  
tzdata                     
Werkzeug                  